In [1]:
import pandas as pd

In [17]:
data_pts = pd.read_csv("clusters/clustered_cloud_43.pcd", sep=" ", skiprows=11, names=["X", "Y", "Z", "RGB"])
data_pts.head()

       X      Y          Z         RGB
0      0      0     0.0000  4288498784
1  53322 -87064  9512.0000  4288498784
2  52780 -93733  9015.9004  4288498784
3  53365 -87068  8760.9004  4288498784
4  52252 -93876  9630.9004  4288498784

In [8]:
"number of clusters: "+str(len(data_pts_unc.RGB.value_counts()))

'number of clusters: 14'

In [18]:
def include_header(filename, lines):
    header = """# .PCD v0.7 - Point Cloud Data file format
VERSION 0.7
FIELDS x y z rgb
SIZE 4 4 4 4
TYPE F F F F
COUNT 1 1 1 1
WIDTH {0}
HEIGHT 1
VIEWPOINT 0 0 0 1 0 0 0
POINTS {1}
DATA ascii""".format(lines,lines)
    with open(filename, 'r+') as f:
        file_data = f.read()
        f.seek(0, 0)
        f.write(header + '\n' + file_data)

In [21]:
cluster_colors = data_pts_unc.RGB.value_counts().values
for color in cluster_colors:
    color2 = str(color)
    new_name = "clusters/"+color2+"_cluster_87.pcd"
    data_to_save = data_pts[data_pts.RGB==color]
    data_to_save.to_csv(new_name, sep=" ", index=False, index_label=False, header=False)
    lines = len(data_to_save)
    include_header(new_name,lines)
    
print("FINISHED")

FINISHED