In [1]:
import pandas as pd

In [32]:
# transformar puntos a coordenadas

def pts_to_coord(pts):
    scale_x, scale_y, scale_z = [0.00000001,0.00000001,0.0001]
    off_x, off_y, off_z = [-79.896755406032327, -2.160151783696628, 2.3477050884498151]
    return [pts[0]*scale_x+off_x, pts[1]*scale_y+off_y,pts[2]*scale_z+off_z]

In [14]:
#recortar nube de puntos

data_pts_unc = pd.read_csv("nubes/cloud_87.pcd", sep=" ", skiprows=11, names=["X", "Y", "Z", "RGB"])
data_pts_unc.head()

        X       Y          Z           RGB
0  355055  170605  6635.5000  1.206931e-38
1  359762  161212  3638.6001  1.814704e-38
2  354025  170291  8314.7998  2.092551e-38
3  353683  170134  8165.0000  2.147904e-38
4  351083  180798  6814.2998  1.152083e-38

In [15]:
data_pts = data_pts_unc.copy()
data_pts["lat"] = data_pts_unc["X"]*0.00000001 + (-79.896755406032327)
data_pts["lon"] = data_pts_unc["Y"]*0.00000001 + (-2.160151783696628)
data_pts["height"] = data_pts_unc["Z"]*0.0001 + (2.3477050884498151)
data_pts.head()

        X       Y          Z           RGB        lat       lon    height
0  355055  170605  6635.5000  1.206931e-38 -79.893205 -2.158446  3.011255
1  359762  161212  3638.6001  1.814704e-38 -79.893158 -2.158540  2.711565
2  354025  170291  8314.7998  2.092551e-38 -79.893215 -2.158449  3.179185
3  353683  170134  8165.0000  2.147904e-38 -79.893219 -2.158450  3.164205
4  351083  180798  6814.2998  1.152083e-38 -79.893245 -2.158344  3.029135

In [25]:
only_tall_pts = data_pts[(data_pts.height>2.5) & (data_pts.height<3.5)]
only_tall_pts.height.max()

3.4999950884498148

In [21]:
only_tall_pts[["X", "Y", "Z", "RGB"]].head()

        X       Y          Z           RGB
0  355055  170605  6635.5000  1.206931e-38
1  359762  161212  3638.6001  1.814704e-38
2  354025  170291  8314.7998  2.092551e-38
3  353683  170134  8165.0000  2.147904e-38
4  351083  180798  6814.2998  1.152083e-38

In [26]:
#guardar

only_tall_pts[["X", "Y", "Z", "RGB"]].to_csv("nubes/medium_clouds/medium_cloud_87.pcd", sep=" ", index=False, index_label=False, header=False)

In [27]:
#aumentarle el header
lines = len(only_tall_pts)
include_header("nubes/medium_clouds/medium_cloud_87.pcd",lines)

In [28]:
def include_header(filename, lines):
    header = """# .PCD v0.7 - Point Cloud Data file format
VERSION 0.7
FIELDS x y z rgb
SIZE 4 4 4 4
TYPE F F F F
COUNT 1 1 1 1
WIDTH {0}
HEIGHT 1
VIEWPOINT 0 0 0 1 0 0 0
POINTS {1}
DATA ascii""".format(lines,lines)
    with open(filename, 'r+') as f:
        file_data = f.read()
        f.seek(0, 0)
        f.write(header + '\n' + file_data)

In [30]:
#list of point clouds
ls_clouds = ["cloud_88.pcd", "cloud_43.pcd"]
for cloud in ls_clouds:
    nube_src = "nubes/"+cloud
    data_pts_unc = pd.read_csv(nube_src, sep=" ", skiprows=11, names=["X", "Y", "Z", "RGB"])
    data_pts_unc["lat"] = data_pts_unc["X"]*0.00000001 + (-79.896755406032327)
    data_pts_unc["lon"] = data_pts_unc["Y"]*0.00000001 + (-2.160151783696628)
    data_pts_unc["height"] = data_pts_unc["Z"]*0.0001 + (2.3477050884498151)
    only_tall_pts = data_pts_unc[(data_pts_unc.height>2.5) & (data_pts_unc.height<3.5)]
    new_name = "nubes/medium_clouds/medium_" + cloud
    only_tall_pts[["X", "Y", "Z", "RGB"]].to_csv(new_name, sep=" ", index=False, index_label=False)
    lines = len(only_tall_pts)
    include_header(new_name,lines)