In [1]:
import pandas as pd

In [32]:
# transformar puntos a coordenadas

def pts_to_coord(pts):
    scale_x, scale_y, scale_z = [0.00000001,0.00000001,0.0001]
    off_x, off_y, off_z = [-79.896755406032327, -2.160151783696628, 2.3477050884498151]
    return [pts[0]*scale_x+off_x, pts[1]*scale_y+off_y,pts[2]*scale_z+off_z]

In [61]:
#lejos
pts = [378801.000000, 217585.000000, 8599.500000]
pts_to_coord(pts)

[-79.89296739603233, -2.157975933696628, 3.207655088449815]

In [60]:
#cerca
pts = [399696.000000, 166656.000000, 5552.200195]
pts_to_coord(pts)

[-79.89275844603233, -2.158485223696628, 2.902925107949815]

In [33]:
pts = [394845.000000, 180480.000000, 5099.000000]
pts_to_coord(pts)

[-79.89280695603233, -2.158346983696628, 2.857605088449815]

In [65]:
#coordenadas en cable
pts_to_coord([402356.000000, 164300.000000, 9599.200195])

[-79.89273184603233, -2.158508783696628, 3.307625107949815]

In [62]:
#coordenadas hacia la derecha
pts_to_coord([416836.000000, 175941.000000, 4034.000000])

[-79.89258704603233, -2.158392373696628, 2.751105088449815]

In [64]:
#coordenadas hacia la izquierda
pts_to_coord([352282.000000, 175898.000000, 5421.600098])

[-79.89323258603233, -2.158392803696628, 2.889865098249815]

In [2]:
#recortar nube de puntos
data_pts_unc = pd.read_csv("cloud_87.pcd", sep=" ", skiprows=11, names=["X", "Y", "Z", "RGB"])
data_pts_unc.head()

        X       Y          Z           RGB
0  355055  170605  6635.5000  1.206931e-38
1  359762  161212  3638.6001  1.814704e-38
2  354025  170291  8314.7998  2.092551e-38
3  353683  170134  8165.0000  2.147904e-38
4  351083  180798  6814.2998  1.152083e-38

In [3]:
data_pts = data_pts_unc.copy()
data_pts["lat"] = data_pts_unc["X"]*0.00000001 + (-79.896755406032327)
data_pts["lon"] = data_pts_unc["Y"]*0.00000001 + (-2.160151783696628)
data_pts["height"] = data_pts_unc["Z"]*0.0001 + (2.3477050884498151)
data_pts.head()

        X       Y          Z           RGB        lat       lon    height
0  355055  170605  6635.5000  1.206931e-38 -79.893205 -2.158446  3.011255
1  359762  161212  3638.6001  1.814704e-38 -79.893158 -2.158540  2.711565
2  354025  170291  8314.7998  2.092551e-38 -79.893215 -2.158449  3.179185
3  353683  170134  8165.0000  2.147904e-38 -79.893219 -2.158450  3.164205
4  351083  180798  6814.2998  1.152083e-38 -79.893245 -2.158344  3.029135

In [4]:
only_tall_pts = data_pts[(data_pts.height>2.5) & (data_pts.height<4.5)]
only_tall_pts.height.max()

4.485765088449815

In [5]:
only_tall_pts[["X", "Y", "Z", "RGB"]].head()

        X       Y          Z           RGB
0  355055  170605  6635.5000  1.206931e-38
1  359762  161212  3638.6001  1.814704e-38
2  354025  170291  8314.7998  2.092551e-38
3  353683  170134  8165.0000  2.147904e-38
4  351083  180798  6814.2998  1.152083e-38

In [6]:
#guardar sin color
only_tall_pts[["X", "Y", "Z", "RGB"]].to_csv("medium_cloud_87.pcd", sep=" ", index=False, index_label=False)